services:
  titiler:
    image: ghcr.io/developmentseed/titiler:latest
    container_name: titiler
    environment:
      - PORT=8000
    volumes:
      - ./data:/data
    ports:
      - "8000:8000"

  streamlit-app:
    image: 172866912423.dkr.ecr.us-east-1.amazonaws.com/owp-2d-streamlit:latest
    container_name: streamlit-app
    user: "${UID}:${GID}"
    ports:
      - "8501:8501"
    volumes:
      - ./data:/data
      - ./hydrofabric:/hydrofabric
    environment:
      - MODEL_HOST=lisflood-runner
      - MODEL_PORT=5000
      - TITILER_DOCKER_SERVICE=titiler
      - HOST_IP=localhost
      - TITILER_PORT=8000
      - MODEL_DIR=/data
      - HYDROFABRIC_DIR=/hydrofabric
      - REMOTE_DATA_DIR=/mnt/a/data
    depends_on:
      - lisflood-runner

  lisflood-runner:
    image: 172866912423.dkr.ecr.us-east-1.amazonaws.com/lisflood-fp:latest-gpu
    container_name: lisflood-runner
    ports:
      - "5000:5000"
    volumes:
      - ./data:/data
    environment:
      - CUDA_VISIBLE_DEVICES=0
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
