name: Main Branch Push

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  contents: write
  packages: write
  id-token: write

jobs:
  docker-build-push:
    name: Build and Push Docker Image
    uses: ./.github/workflows/docker-build.yaml
    with:
      push_to_registry: true
      branch: 'main'
      platforms: 'linux/amd64'
    secrets: inherit
